.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  /* pointer-events: none; */
  border-radius: 30px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #a1bbf0;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  gap: 80px;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 15px;
 margin-bottom: 25px;
  font-family: 'Square Peg', cursive;
  font-size: 40px;
   border-radius: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-items{
  /* background-color: #b4c6e9; */
  min-height: 25vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Square Peg', cursive;
  font-size: 40px;
  padding: 0px 80px 0px 80px;
  margin: 5px;
}

.conta{
display: flex;
gap: 10px;
align-items: center;
justify-content: center;
margin: 5px;
}

.stock{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
   font-family: 'Square Peg', cursive;
  font-size: 40px;
  margin: 20px;
  }
  .tituloLibros{
    font-family: 'Square Peg', cursive;
  }